@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500;600;700;800;900&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&family=Taviraj:ital,wght@0,600;0,700;0,800;1,600;1,700;1,800&display=swap');
html{scroll-behavior:smooth}
a {
    text-decoration: none;
    color: white;
}
button {
    background-color: transparent;
}
::-webkit-scrollbar {
    width: 8px;
  }
::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb {
    background: black;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(145, 145, 145), rgb(145, 145, 145));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(145, 145, 145), rgb(145, 145, 145)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 0px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    list-style: none;
}
a:hover {
    color: white;
    text-decoration: none;
}
body {
    overflow-x: hidden;
    background-color: rgb(37, 37, 37);
}
.tall {
    height: 60vh;
}
nav {
    border-bottom: white 1px solid;
    font-family: 'Overpass', sans-serif;
    background-color: transparent;
    backdrop-filter: blur(8px);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 900;
    z-index: 10000;
    position: fixed;
    display: flex;
    justify-content: space-around;
    height: 45px;
    width: 100vw;
    padding-bottom: 3.5rem;
}
nav ul {
    justify-content: space-around;
    margin-top: 1rem;
    display: flex;
    width: 100%;
}
#FD {
    padding-right: 1.4rem;
    color: white;
    cursor: context-menu;
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.5rem;
    margin-top: -0.3rem;
}
nav ul li a {
    font-size: 1.1rem;
    color: rgb(230, 230, 230);
    transition: 50ms;
    position: relative;
}
nav ul li a:after {
    content:"";
    position:absolute;
    background-color:white;
    height:3px;
    width:0%;
    left:0;
    bottom:-3px;
    transition: 300ms;
}
.nav-link {
    padding: 0;
}
nav ul li a:hover:after {
    width: 100%;
}
div {
    color: white;
}
nav ul li a:hover {
    color: white;
}
.icon {
    font-size: 1.7rem;
    margin-right: 2rem;
}
.mail {
    margin-right: 0;
}
.icons {
    display: none;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.openmenu {
    display: none;
    margin: 20px;
    cursor: pointer;
}
#francois-dieleman {
    font-size: 1.2rem;
    display: none;
    margin: 16px 20px 20px 20px;
    cursor: context-menu;
    color: white;
    font-weight: 700;
}
.closemenu {
    display: none;
    margin: 20px;
    cursor: pointer;
}
.main-desktop {
    height: 40vh;
}
.main-desktop-text {
    z-index: 100;
    cursor: context-menu;
}
.main-desktop #h2-small {
    font-family: 'Overpass', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.1rem;
    color: white;
    text-align: left;
}
.yellow:hover{
    color: #FF7F11;
}
.blue:hover {
    color: #52FFEE;
}
.purple:hover {
    color: #89AAE6;
}
.red:hover {
    color: #B9314F;
}
.green:hover {
    color: #157A6E;
}
.main-desktop #h2 {
    margin-bottom: 0rem;
    font-family: 'Taviraj', sans-serif;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: 900;
    font-size: 1.5rem;
    color: white;
    text-align: left;
}
.scrolltop {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 1000;
    cursor: pointer;
    border: 3px solid white ;
    border-radius: 50%; 
    background-color: white;
    padding: 4px;
    visibility: hidden;
    transition: 600ms;
    opacity: 0;
}
.scrolltop.active {
    visibility: visible;
    opacity: 1;
}
.scrolltop:hover {
    height: 52;
}
.main-mobile {
    height: 100vh;
    text-align: center;
}
.main-mobile-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.main-mobile #h2-small {
    color: white;
    font-size: 1.1rem;
    font-family: 'Overpass', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    /* text-align: left; */
}
.main-mobile #h2 {
    margin-left: 1.3rem;
    color: white;
    font-size: 1.6rem;
    font-family: 'Taviraj', sans-serif;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: 900;
    /* text-align: left; */
}
.main-mobile h1 {
    max-width: 80vw;
    line-height: 43px;
    color: white;
    font-size: 2.5rem;
    font-family: 'Overpass', sans-serif;
    letter-spacing: 2px;
    font-weight: 900;
    /* text-align: left; */
}
.projects-section {
    padding-top: 7rem;
    height: 100vh;
}
.projects-section #h1 {
    text-decoration: 2px underline #ff5858 solid;
    margin-bottom: 0rem;
    font-family: 'Taviraj', sans-serif;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: 900;
    font-size: 3rem;
    color: white;
    text-align: left;
}
.projects-section #h2 {
    margin-top: 15rem;
    font-family: 'Fira Sans Condensed', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    text-align: center;
}
.button-projects {
    margin-top: 19rem;
    text-align: center;
}
.button-projects a {
    padding: 5px 13px;
    border: white solid 2px;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 1rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 800;
    cursor: pointer;
    transition: 300ms;
}
.button-projects a:hover {
    background-color: #ff5858;
    color: white;
    border: #ff5858 solid 2px;
}
hr {
    width: 70vw;
    margin-top: 7rem;
    padding-bottom: 7rem;
    border-top: 1px dashed rgb(224, 224, 224);
    margin-left: 15vw;
}
.about-me-section #h1 {
    text-decoration: 2px underline #ff5858 solid;
    margin-bottom: 1rem;
    font-family: 'Taviraj', sans-serif;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: 900;
    font-size: 3rem;
    color: white;
    text-align: left;
}
.me-img {
    margin-left: 1rem;
    background-image: url(../images/Me-window.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 30vh; */
}
.vl {
    border-left: 1px solid rgb(224, 224, 224);
    height: 80vh;
}
.hr-2 {
    width: 70vw;
    margin-top: 7rem;
    padding-bottom: 7rem;
    border-top: 1px dashed rgb(224, 224, 224);
    margin-left: 15vw;
}
.contact-section {
    padding-bottom: 3rem;
}
.contact-section #h1 {
    text-decoration: 2px underline #ff5858 solid;
    margin-bottom: 1rem;
    font-family: 'Taviraj', sans-serif;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: 900;
    font-size: 3rem;
    color: white;
    text-align: center;
}
.about-me-content {
    transform: translateY(30%);
}
.input-container {
    width: 50%;
    margin: 2rem 0;
}
.input {
    color: white;
    width:100%;
    outline:none;
    border:2px solid white;
    background: none;
    padding: 0.6rem 1.2rem;
    border-radius: 7px;
}
.submit-button {
    padding: 5px 13px;
    border: white solid 2px;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 1rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 800;
    cursor: pointer;
    transition: 300ms;
}
.submit-button:hover {
    background-color: #ff5858;
    color: white;
    border: #ff5858 solid 2px;
}
.footer {
    padding-top: 2rem;
    background-color: rgb(44, 44, 44);
}
.icon-wrapper {
    margin-bottom: 1rem;
    text-align: center;
}
.icon-footer {
    margin: 0px 0.8rem;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 900;
}
.icon-footer i {
    transition: 300ms;
}
.footer #p {
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
}
.bi-instagram:hover {
    color: #9d26ff;
}
.bi-linkedin:hover {
    color: rgb(50, 50, 255);
}
.bi-dribbble:hover {
    color: #ea4c89;
}
.bi-github:hover {
    color: rgb(0, 0, 0);
}
.bi-envelope:hover {
    color: #1178ff;
}
.footer #p a {
    transition: 200ms;
}
.footer #p a:hover {
    color: #dddddd;
}































































































































































































@media (min-width: 769px) {
    .main-mobile {
        display: none;
    }
}
@media(max-width: 768px){
    .projects-section #h2 {
        margin-top: 8rem;
    }
    .button-projects {
        margin-top: 40vh;
    }
    hr {
        padding-bottom: 3rem;
    }
    .hr-2 {
        padding-bottom: 3rem;
    }
    .input {
        padding: 0.4rem 1.1rem;
        font-size: 0.9rem;
    }
    .input-container {
        width: 80%;
        margin: 1.5rem 0;
    }
    .about-me-content {
        margin-top: 0;
        transform: translateY(0%);
    }
    .me-img {
        margin-left: 0;
        margin-top: 2rem;
        height: 80vh;
        width: 100%;
    }
    hr{
        margin-top: 0;
    }
    .vl {
        display: none;
    }
    .projects-section {
        padding-top: 7rem;
    }
    .projects-section #h1 {
        font-size: 2rem;
    }
    .about-me-section #h1 {
        font-size: 2rem;
    }
    .contact-section #h1 {
        font-size: 2rem;
    }
    .tall {
        display: none;
    }
    .main-desktop { 
        display: none;
    }
    nav ul {
        margin-top: 0rem;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10000;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        transition: top 0.8s ease;
        display: none;
    }
    #FD {
        display: none;
    }
    .closemenu {
        display: block;
        position: absolute;
        top: 0px;
        right: 10px;
    }
    .openmenu {
        display: block;
    }
    #francois-dieleman {
        display: block;
    }
    nav ul  {
        padding-top: 2rem;
        justify-content: space-around ;
    }
    nav ul li a{
        font-weight: 700;
        font-size: 1.6rem;
        color: rgb(87, 87, 87);
    }
    nav ul li a:hover {
        color: rgb(87, 87, 87);
    }
    .home-link a:hover {
        color: black;
    }
    .about-link a:hover {
        color: black;
    }
    .projects-link a:hover {
        color: black;
    }
    .contact-link a:hover {
        color: black;
    }
    nav ul li a:after {
        display: none;
    }
    .icons  {
        display:block;
    }
    .icon i{
        transition: 200ms;
    }
    .bi-instagram:hover {
        color: #9d26ff;
    }
    .bi-linkedin:hover {
        color: blue;
    }
    .bi-dribbble:hover {
        color: #ea4c89;
    }
    .bi-github:hover {
        color: black;
    }
    .bi-envelope:hover {
        color: #1178ff;
    }
    .scrolltop {
        display: none;
    }
}
@media (max-width: 425px) {
    .footer #p {
        font-size: 0.9rem;
    }
    .input-container {
        width: 90%;
        margin: 1.5rem 0;
    }
    .icon-footer{
        font-size: 1.3rem;
        margin: 0px 0.8rem;
    }
}
@media (max-width: 382px) {
    .main-mobile h1 {
        font-size: 2rem;
    }
    .main-mobile #h2 {
        font-size: 1.3rem;
    }
}


.logo-main-desktop {
   animation: fill 0.7s ease forwards 1.4s;
}
/* programmer & web developer animation */
.logo-main-desktop path:nth-child(1) {
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    
    animation: line-anim 4s ease forwards 0.2s;
}
.logo-main-desktop path:nth-child(2) {
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: line-anim 4s ease forwards 0.2s;
}
.logo-main-desktop path:nth-child(3) {
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: line-anim 4s ease forwards 0.4s;
}
.logo-main-desktop path:nth-child(4) {
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: line-anim 4s ease forwards 0.2s;
}
.logo-main-desktop path:nth-child(5) {
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: line-anim 4s ease forwards 0.2s;
}
.logo-main-desktop path:nth-child(6) {
    animation: line-anim 4s ease forwards 0.4s;
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main-desktop path:nth-child(7) {
    animation: line-anim 4s ease forwards 0.4s;
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main-desktop path:nth-child(8) {
    animation: line-anim 4s ease forwards 0.1s;
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main-desktop path:nth-child(9) {
    animation: line-anim 4s ease forwards 0.3s;
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main-desktop path:nth-child(10) {
    animation: line-anim 4s ease forwards ;
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main-desktop path:nth-child(11) {
    animation: line-anim 4s ease forwards 0.8s;
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main-desktop path:nth-child(12) {
    
    stroke-width: 1;
    animation: line-anim 3s ease forwards 0.2s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main-desktop path:nth-child(13) {
    
    stroke-width: 1;
    animation: line-anim 4s ease forwards 0.2s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main-desktop path:nth-child(14) {
    
    stroke-width: 1;
    animation: line-anim 4s ease forwards 0.2s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main-desktop path:nth-child(15) {
    
    stroke-width: 1;
    animation: line-anim 4s ease forwards 0.4s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main-desktop path:nth-child(16) {
    
    stroke-width: 1;
    animation: line-anim 4s ease forwards 0.3s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main-desktop path:nth-child(17) {
    
    stroke-width: 1;
    animation: line-anim 4s ease forwards 0.2s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main-desktop path:nth-child(18) {
    
    stroke-width: 1;
    animation: line-anim 4s ease forwards 0.6s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main-desktop path:nth-child(19) {
    
    stroke-width: 1;
    animation: line-anim 4s ease forwards 0.4s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main-desktop path:nth-child(20) {
    
    stroke-width: 1;
    animation: line-anim 4s ease forwards 0.4s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main-desktop path:nth-child(21) {
    
    stroke-width: 1;
    animation: line-anim 4s ease forwards 0.2s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main-desktop path:nth-child(22) {
    
    stroke-width: 1;
    animation: line-anim 4s ease forwards 0.5s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main-desktop path:nth-child(23) {
    animation: line-anim 4s ease forwards 0.2s;
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0%;
    }
}
@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: #fff;
    }

}