@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500;600;700;800;900&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&family=Taviraj:ital,wght@0,600;0,700;0,800;1,600;1,700;1,800&display=swap');



::-webkit-scrollbar {
    width: 8px;
  }
::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb {
    background: black;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(145, 145, 145), rgb(145, 145, 145));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(145, 145, 145), rgb(145, 145, 145)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 0px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    list-style: none;
}
a:hover {

    text-decoration: none;
}
body {
    overflow-x: hidden;
    background-color: rgb(17, 17, 17);
}
.tall {
    height: 60vh;
}
nav {
    font-family: 'Overpass', sans-serif;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 900;
    z-index: 10000;
    position: fixed;
    display: flex;
    justify-content: center;
    height: 45px;
    width: 100%;
    transition: 400ms;
}
nav ul {
    justify-content: space-around;
    margin-top: 0.8rem;
    display: flex;
    height: 45px;
    width: 100%;
    transition: 400ms;
}
.logo-img {
    margin-left: 5rem;
    margin-right: 20rem;
}
nav ul li {
    
    display: inline-block;
    margin: 0 1rem;
    transition: 400ms;
}
nav ul li a {
    position: relative;
    color: rgb(88, 88, 88);
}
nav ul li a:after {
    content:"";
    position:absolute;
    background-color:darkblue;
    height:3px;
    width:0%;
    left:0;
    bottom:-3px;
    transition: 300ms;
}
nav ul li a:hover:after {
    width: 100%;
}
nav ul li a:hover {
    color: black;
}
.main{
    height: 1000vh;
    width: 100%;
}
.main h1 {
    font-family: 'Overpass', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    color: white;
    text-align: left;
    transition: 20ms;
}

.main-text {
    margin-left: 5rem;
    cursor: context-menu;
}
.main #h2-small {
    font-family: 'Overpass', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.1rem;
    color: white;
    text-align: left;
}
.yellow:hover{
    color: #FF7F11;
}
.blue:hover {
    color: #52FFEE;
}
.purple:hover {
    color: #89AAE6;
}
.red:hover {
    color: #B9314F;
}
.green:hover {
    color: #157A6E;
}
.main .h2 {
    font-family: 'Taviraj', sans-serif;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: 900;
    font-size: 1.5rem;
    color: white;
    text-align: left;
}
.scrolltop {
    position: fixed;
    bottom: 4rem;
    right: 3rem;
    z-index: 1000;
    cursor: pointer;
    border: 3px solid white ;
    border-radius: 50%; 
    background-color: white;
    padding: 4px;
    visibility: hidden;
    transition: 600ms;
    opacity: 0;
}
.scrolltop.active {
    visibility: visible;
    opacity: 1;
}
.scrolltop:hover {
    height: 52;
}
.logo-main {
   animation: fill 1.6s ease forwards 1.3s;
}
/* programmer & web developer animation */
.logo-main path:nth-child(1) {
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    
    animation: line-anim 4s ease forwards 0.2s;
}
.logo-main path:nth-child(2) {
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: line-anim 4s ease forwards 0.2s;
}
.logo-main path:nth-child(3) {
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: line-anim 4s ease forwards 0.4s;
}
.logo-main path:nth-child(4) {
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: line-anim 4s ease forwards 0.2s;
}
.logo-main path:nth-child(5) {
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: line-anim 4s ease forwards 0.2s;
}
.logo-main path:nth-child(6) {
    animation: line-anim 4s ease forwards 0.4s;
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main path:nth-child(7) {
    animation: line-anim 4s ease forwards 0.4s;
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main path:nth-child(8) {
    animation: line-anim 4s ease forwards 0.1s;
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main path:nth-child(9) {
    animation: line-anim 4s ease forwards 0.3s;
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main path:nth-child(10) {
    animation: line-anim 4s ease forwards ;
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main path:nth-child(11) {
    animation: line-anim 4s ease forwards 0.8s;
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main path:nth-child(12) {
    
    stroke-width: 1;
    animation: line-anim 3s ease forwards 0.2s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main path:nth-child(13) {
    
    stroke-width: 1;
    animation: line-anim 4s ease forwards 0.2s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main path:nth-child(14) {
    
    stroke-width: 1;
    animation: line-anim 4s ease forwards 0.2s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main path:nth-child(15) {
    
    stroke-width: 1;
    animation: line-anim 4s ease forwards 0.4s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main path:nth-child(16) {
    
    stroke-width: 1;
    animation: line-anim 4s ease forwards 0.3s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main path:nth-child(17) {
    
    stroke-width: 1;
    animation: line-anim 4s ease forwards 0.2s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main path:nth-child(18) {
    
    stroke-width: 1;
    animation: line-anim 4s ease forwards 0.6s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main path:nth-child(19) {
    
    stroke-width: 1;
    animation: line-anim 4s ease forwards 0.4s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main path:nth-child(20) {
    
    stroke-width: 1;
    animation: line-anim 4s ease forwards 0.4s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main path:nth-child(21) {
    
    stroke-width: 1;
    animation: line-anim 4s ease forwards 0.2s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main path:nth-child(22) {
    
    stroke-width: 1;
    animation: line-anim 4s ease forwards 0.5s;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}
.logo-main path:nth-child(23) {
    animation: line-anim 4s ease forwards 0.2s;
    
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0%;
    }
}
@keyframes fill {
    from {
        fill: darkblue;
    }
    to {
        fill: #fff;
    }
}